<!-- /categories/ -->

<% if (theme.debug.enable) { %>
  <div>
    <p>has page type: <%- page.type != null %></p>
    <p>page type: "<%- page.type %>"</p>
    <p>is category: <%= is_category() %></p>
  </div>
<% } %>

<!-- 目录总览 -->
<% if (!is_category()) { %>
<div class="mid_container">
  <div class="shadow_block center_block block_inf">
    <% site.categories.forEach(function (category) { %>
    <a href="<%- url_for(category.path) %>"><%- category.name %></a>
    <% }) %>
  </div>
</div>
<% } %>

<!-- 针对每个category进行post排布 -->
<%- partial('partial/archive.ejs') %>