<%- partial('partial/paginator.ejs') %>

<div>
  <% site.posts.forEach(function (post) { %>
    <div>
      <a href="<%- url_for(post.path) %>"><h3><%- post.title %></h3></a>
    </div>
    <div>
      <p>111</p>
      <%= post.tags.length %>
    </div>
    <div>
      <%- post.content.length %>
    </div>
    <div>
      <%- post.excerpt.length %>
    </div>
  <% }); %>
</div>
