<!-- 通用模板 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  
  <%- partial('partial/head.ejs') %>
  
  <%- css('css/style') %>
  
</head>

<body>
  <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  
  <!-- 搜索功能 -->
  <%- partial('partial/search') %>
  <%- partial('partial/header') %>
  <%- body -%>

  <%- js('js/load') %>
  <%- js('js/search') %>
</body>

</html>