<!-- 通用模板 -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- jquery -->
  <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  
  <!-- 搜索功能 -->
  <%- partial('partial/head.ejs') %>
  
  <%- css('css/style') %>

  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
</head>

<body onload="my_load()" onresize="my_resize()">
  
  <% if (theme.debug.enable) { %>
    <p>is home: <%- is_home() %></p>
    <p>is tag: <%- is_tag() %></p>
    <p>is category: <%- is_category() %></p>
    <p>is archive: <%- is_archive() %></p>
    <p>is post: <%- is_post() %></p>
    <p>pagecur: <%- page.current %></p>
  <% } %>
  
  <!-- 链接 -->
  <%- partial('partial/header') %>
  
  <!-- 搜索功能 -->
  <%- js('js/load', 'js/search') %>

  <%- body -%>

  <%- js('js/change')%>
</body>

</html>