<!-- post内容 -->

<% if (theme.debug.enable) { %>
  <script>
    console.log('<%- page.content %>');
  </script>
<% } %>

<!-- 主体部分 -->
<div class="mid_container">
<div class="shadow_block main_block block_inf">

  <div>
    <h2><%= page.title %></h2>
  </div>
  <div>
    <p><%- date(page.date, "YYYY-MM-DD") %></p>
  </div>
  <div>
    <%- page.content %>
  </div>
  
</div>
</div>

<!-- 显示文章tag和category -->
<div class="block_hide_left shadow_block left_block">
    <% if (theme.debug.enable) { %>
      <p>has tags: <%- page.tags != null %></p>
    <% } %>

    <!-- 文章的tags -->
    <div>
      <p>Tags</p>
      <% page.tags.forEach(function (tag) { %>
        <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
      <% }) %>
    </div>
    <!-- 文章的categories -->
    <div>
      <p>Categories</p>
      <% page.categories.forEach(function (category) { %>
        <a href="<%- url_for(category.path) %>"><%- category.name %></a>
      <% }) %>
    </div>
</div>

<div class="left_link shadow_tool">
  <p id="left_link_inner">Show</p>
</div>

<script>
  $(document).ready(function () {
    $(".left_link").click(function () {
      $(".block_hide_left").toggleClass("block_show_left");
      var left_link = document.getElementById("left_link_inner");
      if (left_link.innerHTML == "Show") left_link.innerHTML = "Hide";
      else left_link.innerHTML = "Show";
    });
  });
</script>

<!-- 分页器,貌似没用 -->
<%- partial('partial/paginator') %>