<!-- post内容 -->

<!-- 主体部分,文章内容 -->
<div class="mid_container">
<div class="shadow_block main_block block_inf" id="mid_post">

  <!-- 文章标题 -->
  <div>
    <p id="post_name"><%= page.title %></p>
  </div>
  <div>
    <p class="post_date"><%- date(page.date, "YYYY-MM-DD") %></p>
    <style>
      .post_date {
        /* 美化日期显示 */
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    </style>
  </div>
  <div>
    <%- page.content %>
  </div>
  
</div>
</div>

<!-- 显示文章tag和category -->
<div class="block_hide_right shadow_block right_block">
    <% if (theme.debug.enable) { %>
      <p>has tags: <%- page.tags != null %></p>
    <% } %>

    <!-- 文章的tags -->
    <div>
      <div class="bar_section">
        <p>Tags</p>
      </div>
      <% if (page.tags) { %>
        <% page.tags.forEach(function (tag) { %>
          <div class="tag_box">
            <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
          </div>
        <% }) %>
      <% } %>
    </div>
    <!-- 文章的categories -->
    <div>
      <div class="bar_section">
        <p>Categories</p>
      </div>
      <% if (page.categories) { %>
        <% page.categories.forEach(function (category) { %>
          <div class="tag_box">
            <a href="<%- url_for(category.path) %>"><%- category.name %></a>
          </div>
        <% }) %>
      <% } %>
    </div>

    <!-- 文章的附加导航 -->
    <%- js('js/guide.js') %>
</div>

<!-- 左侧栏的开关 -->
<div class="right_tool_3 shadow_tool">
  <div class="solid_tool solid_tool_show">
    <svg>
      <path d="M11 15 L15 15"></path>
      <path d="M20 15 L39 15"></path>
      <path d="M11 25 L15 25"></path>
      <path d="M20 25 L39 25"></path>
      <path d="M11 35 L15 35"></path>
      <path d="M20 35 L39 35"></path>
    </svg>
  </div>

  <div class="solid_tool solid_tool_hide">
    <svg>
      <path d="M12 12 L38 38"></path>
      <path d="M12 38 L38 12"></path>
    </svg>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".right_tool_3").click(function () {
      var right_link = document.getElementsByClassName("right_tool_3")[0];
      var children = right_link.children;
      for (var i = 0; i < children.length; i ++) {
        // 切换按钮状态
        if (children[i].className.match("solid_tool_show")) { // 当前为显示状态
          children[i].className = children[i].className.replace("solid_tool_show", "solid_tool_hide");
        } else { // 当前未显示
          children[i].className = children[i].className.replace("solid_tool_hide", "solid_tool_show");
        }
      }

      // 切换右边栏
      $(".block_hide_right").toggleClass("block_show_right");
    });

    // 用css覆盖不了js,所以只能用js来写hover:当鼠标悬停时右边栏不透明
    $(".right_block").mousemove(function () {
      $(".right_block").css("opacity", 1);
    });
    $(".right_block").mouseleave(function () {
      my_resize();
    });
  });
</script>


<!-- 分页器,貌似没用 -->
<%- partial('partial/paginator') %>