<!-- /tags/ -->

<% if (theme.debug.enable) { %>
  <div>
    <p>has page type: <%- page.type != null %></p>
    <p>page type: "<%- page.type %>"</p>
    <p>is tag: <%= is_tag() %></p>
  </div>
<% } %>

<!-- 标签总览 -->
<% if (!is_tag()) { %>
<div class="mid_container">
  <div class="shadow_block center_block block_inf">
    <% site.tags.forEach(function (tag) { %>
      <a href="<%- url_for(tag.path) %>" class="mid_tag"><%- tag.name %></a>
    <% }) %>
  </div>
</div>
<% } %>

<!-- 针对每个tag进行post排布 -->
<%- partial('partial/archive.ejs') %>