<% if (site.posts && site.posts.length > 0) { %>
  <div>
    <% if (!page.prev) { %>
      <!-- 如果是首页?? -->
      <% if (is_home()) { %>
        <% site.posts.each(function(post){ %>
          <% if (post.top) { %>
            <% if (page.type == undefined || post.type == page.type) { %>
              <div class='ishome'>
                <%- partial('post', {post: post}) %>
              </div>
            <% } %>
          <% } %>
        <% }) %>
      <!-- 不知道,好像用不上 -->
      <% } else if (page.posts && page.posts.length > 0) { %>
        <% page.posts.each(function(post){ %>
          <% if (post.top) { %>
            <div class='top''>
              <%- partial('post', {post: post}) %>
            </div>
          <% } %>
        <% }) %>
      <% } %>
    <% } %>

    <!-- 每一个标签的页面 -->
    <% if (page.posts && page.posts.length > 0) { %>
      <% page.posts.each(function(post){ %>
        <% if (!post.top) { %>
          <div class='ntop'>
            <a href="<%- url_for(post.path) %>">
              <h2><%- post.title %></h2>
            </a>
            <p><%= date(post.date, "YYYY-MM-DD") %></p>
          </div>
        <% } %>
      <% }) %>
    <% } %>
  </div>

  <!-- 翻页 -->
  <%- partial('paginator') %>

<% } %>
