<!-- 标题,链接 -->

<!-- 页面头,标题 -->
<% if (is_home() && (page.current == 1)) { %>
  <div class="top_block block_full_mid">
<% } else { %>
  <div class="top_block block_100_mid">
<% } %>
  <a href="<%- url_for(theme.menu.Home) %>">
    <h1><%= config.title %></h1>
  </a>
</div>


<div class="block_hide_right shadow_block right_block">
    <!-- 每一项逐个生成 -->
    <div>
      <p>Links</p>
      <% for (var name in theme.menu) { %>
        <a href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
      <% } %>
    </div>

    <% if (theme.debug.enable) { %> 
      <p>tags: <%- site.tags %></p>
    <% } %>
    <!-- 全部tags -->
    <div>
      <p>Tags</p>
      <% site.tags.forEach(function (tag) { %>
        <a href="<%- url_for(tag.path) %>"><%- tag.name %></a>
      <% }) %>
    </div>
    <!-- 全部categories -->
    <div>
      <p>Categories</p>
      <% site.categories.forEach(function (category) { %>
        <a href="<%- url_for(category.path) %>"><%- category.name %></a>
      <% }) %>
    </div>
</div>

<div class="right_tool_3 shadow_tool">
  <script>
    $(document).ready(function () {
      $(".right_tool_3").click(function () {
        $(".block_hide_right").toggleClass("block_show_right");
        var right_tool_3 = document.getElementById("right_link");
        if (right_tool_3.innerHTML == "Show") right_tool_3.innerHTML = "Hide";
        else right_tool_3.innerHTML = "Show";
      });
    });
  </script>
  <p id="right_link">Show</p>
</div>