<!-- 分页器 -->

<% if (theme.debug.enable) { %>
  <div>
    <p>has page: <%- page != null %></p>
  </div>
<% } %>

<% if (page && page.posts && (!is_post())) { %>
  <!-- 不是文章页 -->
  <% if (page.total > 1) { %>
    <!-- 上一页 -->
      <% if (page.prev != 0) { %>
        <div class="left_tool_2 shadow_tool">
            <script>
                $(".left_tool_2").click(function () {
                  location = '<%= url_for(page.prev_link) %>';
                });
            </script>
            <p>Prev</p>
        </div>
      <% } %>
      <!-- 下一页 -->
      <% if (page.next != 0) { %>
        <div class="right_tool_2 shadow_tool">
            <script>
                $(".right_tool_2").click(function () {
                  location = '<%= url_for(page.next_link) %>';
                });
            </script>
            <p>Next</p>
        </div>
      <% } %>

  <% } %>

<% } else if (is_post()) { %>
  <!-- 文章页 -->
    <% if (theme.debug.enable) { %>
      <div>
        <p>has posts: <%- page.posts != null %></p>
        <p>page.total: <%- page.total %></p>
        <p>page.current: <%- page.current %></p>
        <p>page.next: <%- page.next_link %></p>
        <p>page.prev: <%- page.prev_link %></p>
        <p>page: <%= page.next.path %></p>
      </div>
    <% } %>

    <% if (page.prev) { %>
      <div class="left_tool_2 shadow_tool">
          <script>
              $(".left_tool_2").click(function () {
                location = '<%= url_for(page.prev.path) %>';
              });
          </script>
          <p>Prev</p>
      </div>
    <% } %>
    <!-- 下一页 -->
    <% if (page.next) { %>
      <div class="right_tool_2 shadow_tool">
          <script>
              $(".right_tool_2").click(function () {
                location = '<%= url_for(page.next.path) %>';
              });
          </script>
          <p>Next</p>
      </div>
    <% } %>

<% } %>

<div class="shadow_block bottom_block">
  <p id="bottom_block_inner">
  <% if (page && page.posts) { %>
    <%= page.current %> / <%= page.total %>
  <% } else { %>
    - / -
  <% } %>
  </p>
</div>

<!-- 顶部,底部 -->

<div class="right_tool_4 shadow_tool">
  <p id="right_top">Up</p>
</div>
<script>
  $(".right_tool_4").click(function () {
    $("html, body").animate({
      scrollTop: 0
    }, 300);
  });
</script>

<div class="right_tool_1 shadow_tool">
  <p id="right_bottom">Down</p>
</div>

<script>
    $(document).ready(function () {
      document.querySelectorAll(".right_tool_1")[0].onclick = function () {
        document.querySelectorAll(".bottom_block")[0].scrollIntoView({
          block: "end",
          behavior: "smooth"
        });
      };
    });
</script>