<!-- 分页器 -->

<% if (theme.debug.enable) { %>
  <div>
    <p>has page: <%- page != null %></p>
  </div>
<% } %>

<% if (page && page.posts && (!is_post())) { %>
  <!-- 不是文章页 -->
  <% if (page.total > 1) { %>
      <!-- 上一页 -->
      <% if (page.prev != 0) { %>
        <div class="left_tool_2 shadow_tool">
            <script>
                $(".left_tool_2").click(function () {
                  location = '<%= url_for(page.prev_link) %>';
                });
            </script>
            <svg class="solid_tool solid_tool_show">
              <path d="M10 25 L40 25"></path>
              <path d="M12 25 L22 17"></path>
              <path d="M12 25 L22 33"></path>
            </svg>
        </div>
      <% } %>
      <!-- 下一页 -->
      <% if (page.next != 0) { %>
        <div class="right_tool_2 shadow_tool">
            <script>
                $(".right_tool_2").click(function () {
                  location = '<%= url_for(page.next_link) %>';
                });
            </script>
            <svg class="solid_tool solid_tool_show">
              <path d="M10 25 L40 25"></path>
              <path d="M38 25 L28 17"></path>
              <path d="M38 25 L28 33"></path>
            </svg>
        </div>
      <% } %>

  <% } %>

<% } else if (is_post()) { %>
  <!-- 文章页 -->
    <% if (theme.debug.enable) { %>
      <div>
        <p>has posts: <%- page.posts != null %></p>
        <p>page.total: <%- page.total %></p>
        <p>page.current: <%- page.current %></p>
        <p>page.next: <%- page.next_link %></p>
        <p>page.prev: <%- page.prev_link %></p>
        <p>page: <%= page.next.path %></p>
      </div>
    <% } %>
    <!-- 上一页 -->
    <% if (page.prev) { %>
      <div class="left_tool_2 shadow_tool">
          <script>
              $(".left_tool_2").click(function () {
                location = '<%= url_for(page.prev.path) %>';
              });
          </script>
            <svg class="solid_tool solid_tool_show">
              <path d="M10 25 L40 25"></path>
              <path d="M12 25 L22 17"></path>
              <path d="M12 25 L22 33"></path>
            </svg>
      </div>
    <% } %>
    <!-- 下一页 -->
    <% if (page.next) { %>
      <div class="right_tool_2 shadow_tool">
          <script>
              $(".right_tool_2").click(function () {
                location = '<%= url_for(page.next.path) %>';
              });
          </script>
          <svg class="solid_tool solid_tool_show">
            <path d="M10 25 L40 25"></path>
            <path d="M38 25 L28 17"></path>
            <path d="M38 25 L28 33"></path>
          </svg>
      </div>
    <% } %>

<% } %>

<div class="shadow_block bottom_block">
  <p id="bottom_block_inner">
  <% if (page && page.posts) { %>
    <%= page.current %> / <%= page.total %>
  <% } else { %>
    1 / 1
  <% } %>
  </p>
</div>

<!-- 顶部,底部跳转 -->
<!-- 顶部跳转不可中断 -->
<!-- 左侧 -->
<div class="right_tool_4 shadow_tool">
  <svg class="solid_tool solid_tool_show">
    <path d="M25 10 L25 40"></path>
    <path d="M25 12 L17 22"></path>
    <path d="M25 12 L33 22"></path>
  </svg>
</div>
<script>
  $(".right_tool_4").click(function () {
    $("html, body").animate({
      scrollTop: 0
    }, 300);
  });
</script>
<!-- 底部跳转有兼容性问题,如果能够兼容则可以中断 -->
<div class="right_tool_1 shadow_tool">
  <svg class="solid_tool solid_tool_show">
    <path d="M25 10 L25 40"></path>
    <path d="M25 38 L17 28"></path>
    <path d="M25 38 L33 28"></path>
  </svg>
</div>
<script>
    $(document).ready(function () {
      document.querySelectorAll(".right_tool_1")[0].onclick = function () {
        document.querySelectorAll(".bottom_block")[0].scrollIntoView({
          block: "end",
          behavior: "smooth"
        });
      };
    });
</script>

<!-- 右侧 -->
<div class="left_tool_4 shadow_tool">
  <svg class="solid_tool solid_tool_show">
    <path d="M25 10 L25 40"></path>
    <path d="M25 12 L17 22"></path>
    <path d="M25 12 L33 22"></path>
  </svg>
</div>
<script>
  $(".left_tool_4").click(function () {
    $("html, body").animate({
      scrollTop: 0
    }, 300);
  });
</script>

<div class="left_tool_1 shadow_tool">
  <svg class="solid_tool solid_tool_show">
    <path d="M25 10 L25 40"></path>
    <path d="M25 38 L17 28"></path>
    <path d="M25 38 L33 28"></path>
  </svg>
</div>
<script>
    $(document).ready(function () {
      document.querySelectorAll(".left_tool_1")[0].onclick = function () {
        document.querySelectorAll(".bottom_block")[0].scrollIntoView({
          block: "end",
          behavior: "smooth"
        });
      };
    });
</script>