<!-- 分页器 -->

<% if (page && page.posts) { %>
  <% if (page.total > 1) { %>
    <div class="left_pg all_tool">
      <% if (page.prev != 0) { %>
        <div>
          <a href="<%= url_for(page.prev_link) %>">
            Prev
          </a>
        </div>
      <% } %>
    </div>

    <% if (page.next != 0) { %>
      <div class="right_pg all_tool">
        <div>
          <a href="<%= url_for(page.next_link) %>">
            Next
          </a>
        </div>
      <% } %>
    </div>
  <% } %>

  <script> // 待修改
    var cur_page = '<%= page.current%> / <%= page.total%>';
  </script>
  <%- js('js/paginator') %>
<% } %>