<!-- 单个文章 -->

<a href="<%- url_for(post.path) %>" class="post_title">
  <%- post.title %>
</a>
<p><%= date(post.date, "YYYY-MM-DD") %></p>

<% if (theme.debug.enable) { %>
  <p>has post type: <%- post.type != null %></p>
<% } %>

<!-- 如果是首页/某个tag页面 -->
<% if (is_home() || is_tag() || is_archive() || is_category()) { %>

  <% if (theme.debug.enable) { %>
  <p>tags: <%= post.tags.length %></p>
  <p>content: <%- post.content.length %></p>
  <p>excerpt: </p>
  <p>innerText: <%- post.content.innerText != null %></p>
  <% } %>

  <!-- 主题内置自动摘要 -->
  <% if (is_home() || is_tag() || is_category()) { %>
    <div id="post_<%- post_num %>" class="post_excerpt">
      <p><%- post.content.substring(0, theme.auto_excerpt.length) %></p>
    </div>
  <% } %>

<% } %>