<!-- 单个文章 -->

<a href="<%- url_for(post.path) %>">
  <h2><%- post.title %></h2>
</a>
<p><%= date(post.date, "YYYY-MM-DD") %></p>

<% if (theme.debug.enable) { %>
  <p>has post type: <%- post.type != null %></p>
<% } %>

<!-- 如果是首页/某个tag页面 -->
<% if (is_home() || is_tag()) { %>
  <p>tags: <%= post.tags.length %></p>
  <p>content: <%- post.content.length %></p>
  <!-- 主题内置自动摘要 -->
  <p>excerpt: <%- post.content.substring(0, theme.auto_excerpt.length) %></p>
<% } %>